<div class="flex items-center justify-center w-full mb-12">
  <label class="flex items-center cursor-pointer">
    <% if @label_position == "left" %>
      <div class="mr-3 text-gray-700 font-medium">
        <%= @label %>
      </div>
    <% end %>
    <div class="relative">
      <% if @label_position == "top" %>
        <div class="text-gray-700 text-center font-medium">
          <%= @label %>
        </div>
      <% end %>
      <div class="relative">
        <input type="checkbox" class="peer/toggle sr-only" <%= "checked" if @checked %> <%= "disabled" if @disabled %> />
        <div class="w-12 h-6 bg-gray-500 peer-checked/toggle:peer-enabled/toggle:bg-blue-500 peer-hover/toggle:peer-enabled/toggle:brightness-50 peer-hover/toggle:transition-all peer-checked/toggle:transition-all peer-disabled/toggle:bg-gray-200 peer-checked/toggle:peer-disabled/toggle:bg-gray-300 rounded-full shadow-inner duration-300"></div>
        <div class="dot absolute w-4 h-4 bg-white rounded-full shadow left-1 peer-checked/toggle:left-7 top-1 peer-checked/toggle:transition-all duration-300"></div>
      </div>
    </div>
    <% if @label_position == "right" %>
      <div class="ml-3 text-gray-700 font-medium">
        <%= @label %>
      </div>
    <% end %>
  </label>
</div>
